body {
  margin: 0;
  background: #f5f6fa;
  font-family: "Cairo", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  margin: 40px auto;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: #07126b;
  text-align: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 14px;
  color: #444;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.required {
  color: red;
  font-weight: 700;
}

.basic {
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding: 7px 10px;
  box-sizing: border-box;
  opacity: 1;
  outline: none;
  font-size: 14px;
  direction: rtl;
  text-align: right;
}

.btn {
  background: #07126b;
  color: #fff;
  height: 46px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .25s;
  margin-top: 20px;
}

.btn:hover {
  background: #0c1fa8;
}

@media (max-width: 900px) {
  .field {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .field {
    width: 100%;
  }
}
