.registration-wrapper {
 width: 100vw;
 min-height: 100vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

 background-color: rgba(7, 18, 107, 0.6);
 background-blend-mode: overlay;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 20px;
 box-sizing: border-box;
}

.registration-logo {
 width: 140px;
 margin-bottom: 20px;
 max-width: 30%;
 object-fit: contain;
}

.registration-card {
 background: #FFFFFF;
 width: 521px;
 max-width: 95%;
 padding: 35px;
 border-radius: 20px;

 display: flex;
 flex-direction: column;
 gap: 20px;

 box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
 text-align: inherit;
 margin: auto;
}

.registration-title {
 font-size: 26px;
 font-weight: bold;
 text-align: center;
 margin-bottom: 10px;
}

.form-group {
 display: flex;
 flex-direction: column;
}

.form-group label {
 font-size: 15px;
 margin-bottom: 5px;
}

.form-group input {
 padding: 12px 14px;
 font-size: 16px;
 border: 1px solid #ccc;
 border-radius: 10px;
 outline: none;
 transition: 0.25s;
 text-align: inherit;
}

.form-group input:focus {
 border-color: #07126B;
 box-shadow: 0 0 5px rgba(7, 18, 107, 0.4);
}

.bottom-text {
 font-size: 15px;
 text-align: center;
}

.login-link {
 color: #07126B;
 margin-right: 6px;
}

.submit-btn {
 padding: 14px 0;
 width: 100%;
 background: #07126B;
 color: white;
 font-size: 18px;
 border: none;
 border-radius: 12px;
 cursor: pointer;
 transition: 0.25s;
}

.submit-btn:hover {
 opacity: 0.85;
}

.required-star {
 color: red;
 margin-right: 3px;
}

@media (max-width: 768px) {
 .registration-card {
  padding: 25px;
  gap: 15px;
 }

 .registration-title {
  font-size: 22px;
 }

 .form-group input {
  font-size: 15px;
  padding: 10px 12px;
 }

 .submit-btn {
  font-size: 16px;
  padding: 12px 0;
 }
}

@media (max-width: 480px) {
 .registration-card {
  padding: 20px;
  width: 100%;
  margin: auto;
 }

 .registration-title {
  font-size: 20px;
 }

 .form-group input {
  font-size: 14px;
  padding: 10px;
 }

 .submit-btn {
  font-size: 16px;
  padding: 12px 0;
 }

 .registration-logo {
  width: 120px;
  margin-bottom: 15px;
 }
}