.sidebar {
  width: 516px;
  padding: 42px 50px;
  background: linear-gradient(0deg, rgba(7,18,107,0.6), rgba(7,18,107,0.6));
  background-image: url('https://placehold.co/516x1024');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar.rtl {
  direction: rtl;
  align-items: flex-end;
}

.sidebar.ltr {
  direction: ltr;
  align-items: flex-start;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.platform-name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.main-title {
  font-family: 'Cairo', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}

.sidebar-section {
  display: flex;
  gap: 7px;
  align-items: flex-start;
}

.section-line {
  width: 5px;
  background: #05BAA3;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.section-title {
  font-family: 'Cairo', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.section-text {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
/* Logo */
.logo-container {
  margin-bottom: 20px;
}

.cor-platform {
  width: 120px; /* adjust logo size */
  height: auto;
  display: block;
}

/* Rectangle */
.rectangle-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; /* center the rectangle inside */
  margin-top: 50px;    /* pixels */

}

.rectangle-div {
  width: 264px;       /* rectangle width */
  height: 40px;       /* rectangle height */
  background-color: #05baa3;
  transform: rotate(-90deg); /* rotate rectangle */
  display: block;
  
}