/* Stepper.module.css */

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.ltr {
  flex-direction: row;
}

.rtl {
  flex-direction: row-reverse;
}

.connector {
  flex: 1;
  height: 2px;
  outline-offset: -1px;
}

.connectorDefault {
  background-color: #e1e1e1;
}

.connectorCompleted {
  background-color: #05baa3;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circleDefault {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.circleCompleted {
  background-color: #eefcfc; 
  border: 1px solid #05baa3; 
}

.circleCurrent {
  background-color: #05baa3;
  border: 1px solid #05baa3;
}

.numberDefault {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.numberCurrent {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.checkmark {
  width: 16px;
  height: 16px;
  background-color: #15c5ce;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 10%, 85% 0, 43% 62%);
}